{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_analytics.css' %}">
<form action='queried2' method='POST'>{%csrf_token%}
    <div class="fillInForm2">
        <h1> FILL IN THE FORM TO FIND DATA ON NBA QUERIES 222</h1>
    </div>  
    <div class="form-check1">
        <h3> Pick a statistic </h3>
            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>PPG (points)
            <label class="form-check-label" for="radio1"></label>
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2" checked>APG (assists)
            <label class="form-check-label" for="radio2"></label>
            <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3" checked>RPG (rebounds)
            <label class="form-check-label" for="radio3"></label>
            <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4" checked>BPG (blocks)
            <label class="form-check-label" for="radio4"></label>
            <input type="radio" class="form-check-input" id="radio5" name="optradio" value="option5" checked>SPG (steals)
            <label class="form-check-label" for="radio5"></label>
            <input type="radio" class="form-check-input" id="radio6" name="optradio" value="option6" checked>3P% (3point percent)
            <label class="form-check-label" for="radio6"></label>
            <input type="radio" class="form-check-input" id="radio7" name="optradio" value="option7" checked>2P% (2point percent)
            <label class="form-check-label" for="radio7"></label>
            <input type="radio" class="form-check-input" id="radio8" name="optradio" value="option8" checked>FG% (field goal percent)
            <label class="form-check-label" for="radio8"></label>
            <input type="radio" class="form-check-input" id="radio9" name="optradio" value="option9" checked>OFF Rating 
            <label class="form-check-label" for="radio9"></label>
            <input type="radio" class="form-check-input" id="radio10" name="optradio" value="option10" checked>DEF Rating% 
            <label class="form-check-label" for="radio10"></label>
    </div>
    <div class="form-check1">
        <h3> Now enter a value for which you want your query to be greater than</h3>
        <div class="form-check2">
                <h5>Value to be greater than</h5>
                <div class="col-sm-10">
                    <input type="team_name" class="form-control" id="teamName" name="value_" placeholder="100">
                </div>
        </div>
    </div>
    <div class="form-check1">
        <h3> Now enter another stat where you want to see the leaders in</h3>
        <div class="form-check2">
            <h5> Pick a stat (check only one box)</h5>
            <input type="radio" class="form-check-input" id="radio11" name="optradio1" value="option11" checked>PPG (points)
            <label class="form-check-label" for="radio11"></label>
            <input type="radio" class="form-check-input" id="radio22" name="optradio1" value="option22" checked>APG (assists)
            <label class="form-check-label" for="radio22"></label>
            <input type="radio" class="form-check-input" id="radio33" name="optradio1" value="option33" checked>RPG (rebounds)
            <label class="form-check-label" for="radio33"></label>
            <input type="radio" class="form-check-input" id="radio44" name="optradio1" value="option44" checked>BPG (blocks)
            <label class="form-check-label" for="radio44"></label>
            <input type="radio" class="form-check-input" id="radio55" name="optradio1" value="option55" checked>SPG (steals)
            <label class="form-check-label" for="radio55"></label>
            <input type="radio" class="form-check-input" id="radio66" name="optradio1" value="option66" checked>3P% (3point percent)
            <label class="form-check-label" for="radio66"></label>
            <input type="radio" class="form-check-input" id="radio77" name="optradio1" value="option77" checked>2P% (2point percent)
            <label class="form-check-label" for="radio77"></label>

        </div>
    </div>
    <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<div class="container-1">
    <h2 class="text-center"><u>Players</u></h2><br>            
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>player id</th>
          <th>name</th>
          <th>team</th>
          <th>position</th>
          <th>age</th>
          <th>games played</th>
          <th>min/game</th>
          <th>min %</th>
          <th>usg rate</th>
          <th>turnover %</th>
          <th>free throw att</th>
          <th>fg %</th>
          <th>2-point att</th>
          <th>2-point %</th>
          <th>3-point att</th>
          <th>3-point %</th>
          <th>fg %</th>
          <th>ts %</th>
          <th>ppg %</th>
          <th>rpg</th>
          <th>trb %</th>
          <th>apg</th>
          <th>asst %</th>
          <th>spg</th>
          <th>bpg</th>
          <th>TO/game</th>
          <th>viv</th>
        </tr>
      </thead>
      <tbody>
      <!-- jinja2 Technique -->
      {% if d %}  
      {% for i in d %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.team}}</td>
          <td>{{i.position}}</td>
          <td>{{i.age}}</td>
          <td>{{i.gamesPlayed}}</td>
          <td>{{i.minPerGame}}</td>
          <td>{{i.minPercent}}</td>
          <td>{{i.usgRate}}</td>
          <td>{{i.toPercent}}</td>
          <td>{{i.freethrowAtt}}</td>
          <td>{{i.ftPercent}}</td>
          <td>{{i.twoPointAttempts}}</td>
          <td>{{i.twoPointPercent}}</td>
          <td>{{i.threePointAttempts}}</td>
          <td>{{i.threePointPercent}}</td>
          <td>{{i.fieldGoalPercent}}</td>
          <td>{{i.tsPercent}}</td>
          <td>{{i.pointsPerGame}}</td>
          <td>{{i.reboundsPerGame}}</td>
          <td>{{i.trbPercent}}</td>
          <td>{{i.assistsPerGame}}</td>
          <td>{{i.assistPercent}}</td>
          <td>{{i.stealPerGame}}</td>
          <td>{{i.blocksPerGame}}</td>
          <td>{{i.TOPerGame}}</td>
          <td>{{i.viv}}</td>
          <!-- <td>{{i.offrtg}}</td>
          <td>{{i.defrtg}}</td> -->
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>
<!-- {{df|safe}} -->
{% endblock %}